body {
  background-image: url("background1.jpg") ;
  background-repeat: repeat-y;
  background-size: 100%;
}



.col-lg-4 {
  border: 1px solid grey ;
}


#menubar {
  position: fixed;
  width: 100%;
  background-color: #003366;
}

#menubar ul {
  display: inline;
}

#hcontact {
  margin: 10px 10% 10px 15%;
  float: left;
  width: 15%;
}

#hcontact li {
  color: white;
  padding: 1.5px 7%;
  display: inline;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

#menu {
  margin: 10px 10% 10px 15%;
  float: right;
  width: 35%;
}

#menu li {
  color: white;
  padding: 1.5px 4%;
  display: inline;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

li {
  text-decoration: none;
}


h3 {
  color: red;
}

h4 {
  margin-left: 0 !important;
}

#heading {
  position: relative;
  margin: 6% 14%;
  text-align: center;
  width: 72%;
}

#about {

}

#menu li a:hover {
  text-decoration: none;
  color: red;
}

a:active {
  background-color: yellow;
}

h1, h2 {
  color: #005ce6;
}

.grayb {
  width: 32.33%;
  margin-right: calc(100px - 10%);
}

.jumbotron {
  width : 100%;
  filter: alpha(opacity=60);
  opacity: 0.3;
}



.dflex {
  display: flex;
}

.dflex ul li {
  display: inline;
  margin-right: 4px;
}

#contact {
  text-align: left;
}

#medias {
  text-align: center;
}

footer {
  background-color: black;
  height: 50px;
  width: 100%;
  color:#996633;
  text-align: center;
  font-size: 16px;
}
